<div class="field">
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</div>
<div class="field">
  <%= form.label :symbol %><br />
  <%= form.text_field :symbol %>
</div>
<div class="field">
  <%= form.label :unit_type %><br />
  <%= form.select :unit_type, unit_type_list %>
</div>
