<h2>New Category</h2>

<p>
  <%= link_to 'Return to categories', categories_path %>
</p>

<%= form_for(@category, :html => { :method => :post }) do |f| %>
  <%= error_messages(@category) %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>

  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
