<!DOCTYPE html>
<html>
<head>
  <title>Fagus</title>
  <%= stylesheet_link_tag    "fagus/application", media: "all" %>
  <%= javascript_include_tag "fagus/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash_messages %>
<%= yield %>
</body>
</html>
